@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* IBM Plex Mono font family */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;600&display=swap');
/* IBM Plex Sans font family */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600&display=swap');

/* global */
body {
  @apply font-ibmSans;
}

span {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #231F20;
}

input:focus,
button:focus {
  outline: 2px dashed #231F20;
}

/* autocomplete styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #231F20;
  -webkit-box-shadow: 0 0 0px 1000px #DED3E8 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.hide-card {
  transform: translateY(100%);
}

.btn-line {
  @apply block;
  @apply bg-black;
  width: 1.5rem;
  height: 1px;
}
.btn-line:first-of-type {
  transform: rotate(45deg);
  top: 1px;
}
.btn-line:nth-of-type(2) {
  transform: rotate(-45deg);
}

.credits-closed {
  transform: translateY(-100%);
}

.h-calc {
  height: 100vh;
  height: calc(100vh - 6rem);
}

@media screen and (min-width: 768px) {
  .h-calc {
    height: 100vh;
    height: calc(100vh - 2rem);
  }
}